@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, video {
  object-fit: cover;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.9444444444vw 0;
  height: 9.5833333333vw;
}
#header .logo {
  height: 3.4722222222vw;
}
#header h1 {
  color: #901C1C;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 3.2638888889vw;
}

.photographer-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6.9444444444vw 0;
  border-radius: 5px;
  padding: 0 3.4722222222vw;
  height: 21.7361111111vw;
  background-color: #FAFAFA;
}
.photographer-banner .name {
  font-size: 4.4444444444vw;
  font-weight: 400;
  line-height: 5.7638888889vw;
}
.photographer-banner .location {
  font-size: 1.6666666667vw;
  font-weight: 400;
  line-height: 2.1527777778vw;
}
.photographer-banner .tagline {
  margin-top: 1.3194444444vw;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.5972222222vw;
}
.photographer-banner .btn-contact {
  padding: 1.4583333333vw 0.7638888889vw;
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 1.8055555556vw;
}

.photographer-gallery {
  display: grid;
  grid-template-columns: repeat(3, 24.3055555556vw);
  row-gap: 2.0833333333vw;
  justify-content: space-between;
  margin: 1.5972222222vw 6.9444444444vw 5.2083333333vw;
}
.photographer-gallery .lnk-media {
  display: inline-block;
}
.photographer-gallery .caption {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6944444444vw;
  color: #901C1C;
  font-size: 1.6666666667vw;
  font-weight: 400;
  line-height: 2.1527777778vw;
}
.photographer-gallery .caption .title {
  overflow: hidden;
  width: 19.4444444444vw;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  border-radius: 5px;
  border: none;
  padding: 1.5972222222vw 1.25vw;
  background-color: #911C1C;
  color: white;
  font-family: inherit;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5972222222vw;
  cursor: pointer;
}

.btn-contact:hover, .btn-contact:focus {
  background-color: #DB8876;
  color: black;
}

.icon-close {
  width: 42px;
  height: 42px;
  mask: url("assets/icons/close.svg");
  -webkit-mask: url("assets/icons/close.svg");
}

.portrait {
  border-radius: 50%;
  width: 13.8888888889vw;
  height: 13.8888888889vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.insert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #DB8876;
  color: black;
  right: 2.5vw;
  bottom: 0;
  z-index: 5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0 2.3611111111vw 0 2.1527777778vw;
  width: 26.1111111111vw;
  height: 4.7222222222vw;
  font-size: 1.6666666667vw;
  font-weight: 700;
  line-height: 2.1527777778vw;
}

.media {
  border-radius: 5px;
  width: 24.3055555556vw;
  height: 20.8333333333vw;
}

img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.filters {
  display: flex;
  align-items: center;
  margin: 0.625vw 6.9444444444vw 0;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5972222222vw;
}

.filters-dropdown {
  position: relative;
  margin-left: 1.7361111111vw;
}

.filters-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1.5277777778vw 1.3888888889vw;
  width: 11.8055555556vw;
  background-color: #911C1C;
  color: white;
  cursor: pointer;
}

.filters-value {
  margin-right: 1.8055555556vw;
}

.filters-option {
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5555555556vw 0.6944444444vw;
  background-color: #911C1C;
  color: white;
}

.filters-item {
  padding: 0.9722222222vw 0.6944444444vw;
  cursor: pointer;
}
.filters-item:nth-child(2) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.filters-button {
  position: absolute;
  z-index: 15;
  top: 1.5972222222vw;
  right: 1.3888888889vw;
  padding: 0;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}
.filters-button.open {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.modal-bg {
  position: fixed;
  top: 0;
  z-index: 15;
  overflow: auto;
  display: none;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  margin: 58px auto;
}

#contact {
  background-color: rgba(196, 196, 196, 0.4);
}
#contact .modal {
  flex-direction: column;
  border-radius: 5px;
  padding: 15px 35px 38px;
  width: 100%;
  max-width: 669px;
  background-color: #DB8876;
  mix-blend-mode: normal;
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}
#contact .modal header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 19px;
  width: 100%;
}
#contact .modal header h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 83px;
}
#contact .modal header .contact-close {
  position: relative;
  z-index: 100;
  display: flex;
  padding: 0;
  background-color: inherit;
}
#contact .modal header .contact-close .icon-close {
  background-color: white;
}
#contact .modal .modal-body {
  width: 100%;
}
#contact .modal .modal-body .formData {
  display: flex;
  flex-direction: column;
}
#contact .modal .modal-body .formData label {
  color: #312E2E;
  font-size: 36px;
  line-height: 47px;
}
#contact .modal .modal-body .formData input {
  height: 68px;
}
#contact .modal .modal-body .formData textarea {
  height: 170px;
  scrollbar-width: thin;
  resize: none;
}
#contact .modal .modal-body .formData .text-control {
  border: 3px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 8px 20px;
  width: 100%;
  font-family: inherit;
  font-size: 24px;
  line-height: 31px;
}
#contact .modal .modal-body .formData.message {
  margin: 10px 0 26px;
}
#contact .modal .modal-body .formData[data-error]::after {
  display: block;
  margin: 8px 0;
  content: attr(data-error);
  color: #901C1C;
  font-size: 18px;
  line-height: 23px;
  transition: 0.3s;
}
#contact .modal .modal-body .formData[data-error]::after .text-control {
  border: 3px solid #911C1C;
}
#contact .modal .modal-body .submit-button {
  padding: 23px 50px;
  font-size: 18px;
  line-height: 23px;
}

#lightbox {
  background-color: white;
}
#lightbox .modal {
  position: relative;
  justify-content: center;
  width: 1253px;
}
#lightbox .modal .media {
  width: 1050px;
  height: 900px;
}
#lightbox .modal button {
  padding: 0;
  background-color: transparent;
  color: #911C1C;
  font-size: 48px;
  line-height: 48px;
}

.lightbox-close {
  position: absolute;
  top: 15px;
  right: 40px;
  z-index: 100;
  display: flex;
  width: 42px;
  height: 42px;
}
.lightbox-close .icon-close {
  background-color: #911C1C;
}

.lightbox-container {
  margin: 0 34.36px;
}

.lightbox-caption {
  margin-top: 12px;
  color: #911C1C;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.4166666667vw;
  padding: 4.1666666667vw 0 7.7777777778vw;
}
.photographer-section article {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}
.photographer-section article a {
  width: 21.5277777778vw;
  height: 19.2361111111vw;
  text-align: center;
}
.photographer-section article a .name {
  margin-top: 1.3888888889vw;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 3.2638888889vw;
}
.photographer-section article .location {
  font-size: 0.9027777778vw;
  font-weight: 400;
  line-height: 1.1805555556vw;
}
.photographer-section article .tagline {
  margin: 0.2083333333vw auto;
  font-size: 0.6944444444vw;
  font-weight: 400;
  line-height: 0.9027777778vw;
}
.photographer-section article .price {
  font-size: 0.625vw;
  font-weight: 400;
  line-height: 0.8333333333vw;
}

.name {
  color: #D3573C;
}

.location {
  color: #901C1C;
}

.tagline {
  color: #525252;
}

.portrait, .media {
  background-color: #C4C4C4;
}

.price {
  color: #757575;
}

/*# sourceMappingURL=index.css.map */
