#lightbox {
  position: relative;
  padding: get-vw($desktop, 22px) get-vw($desktop, 45px) get-vw($desktop, 19px) get-vw($desktop, 30px);
  width: get-vw($desktop, 1253px);
  height: get-vw($desktop, 984px);
}

#lightbox img, #lightbox video {
  margin-left: get-vw($desktop, 64px);
  margin-right: get-vw($desktop, 64px);
  border-radius: get-vw($desktop, 5px);
  width: get-vw($desktop, 1050px);
  height: get-vw($desktop, 900px);
  background-color: #C4C4C4;
}

#lightbox .icon-arrow-left {
  position: absolute;
  top: get-vw($desktop, 448px);
  left: get-vw($desktop, 30px);
  cursor: pointer;
}

#lightbox .icon-arrow-right {
  position: absolute;
  top: get-vw($desktop, 448px);
  right: get-vw($desktop, 45px);
  cursor: pointer;
}

#lightbox .icon-close {
  position: absolute;
  top: get-vw($desktop, 37px);
  right: get-vw($desktop, 40px);
  cursor: pointer;
}

#lightbox figcaption {
  padding-left: get-vw($desktop, 64px);
  font-size: get-vw($desktop, 24px);
  line-height: get-vw($desktop, 31.25px);
  color: $base-color;
}